<div class="container">
  <section class="quiz">
    <header class="quiz__header">
      @if(getGameIsFinished){
      <div class="quiz__header__backButtonContainer">
        <a routerLink="" class="quiz__header__backButtonContainer__link"
          ><span class="quiz__header__backButtonContainer__link__text"
            >Restart the quiz</span
          ></a
        >
      </div>
      }
      <h1 class="quiz__header__title">{{ title }}</h1>
      @if(!getGameIsFinished){
      <span class="quiz__header__subtitle">{{ subtitle }}</span>
      }
    </header>

    @if(getGameIsFinished){
    <article class="quiz__answer">
      <h3 class="quiz__answer__title">You are...</h3>

      <figure class="quiz__answer__imageContainer">
        <img
          src="{{ finalAnswer?.image }}"
          alt="{{ finalAnswer?.text }}"
          class="quiz__answer__imageContainer__image"
        />
      </figure>
      <span class="quiz__answer__text">
        {{ finalAnswer?.text }}
      </span>
    </article>
    } @else{
    <article class="quiz__questions">
      <h2 class="quiz__questions__questionsText">
        {{ selectedQuestion?.text }}
      </h2>
      <div class="quiz__questions__options">
        @for(option of getSelectedQuestion; track trackById){

        <button
          class="quiz__questions__options__option"
          (click)="selectOption(option.text)"
        >
          <figure class="quiz__questions__options__option__imageContainer">
            <img
              src="{{ option.image }}"
              alt="{{ option.text }}"
              class="quiz__questions__options__option__imageContainer__image"
            />
          </figure>
          <span class="quiz__questions__options__option__text">{{
            option.text
          }}</span>
        </button>
        }
      </div>
    </article>

    }
  </section>
</div>
